header {
    display: flex;
    width: 100vw;
    height: 50px;
    gap: 5px;
    justify-content: flex-end;
    background-color: hotpink;
    box-shadow: 0px 4px 5px gray;
    align-items: center;
    a{
        margin-right: 5px;
        text-decoration: none;
    }
}